setup-environment.sh
.init
.prepare
config-backup/
.firstRun
tests/.env
tests/package-lock.json
tests/test-config.json
data-backup/
node_modules/
oisp-logs_*.zip
*.pem
ci_deployer/kubeconfig
kubernetes/charts/*.tgz