[submodule "iotanalytics-dashboard"]
	path = iotanalytics-dashboard
	url = git@github.com:emea-ssg-drd/iotanalytics-dashboard.git
[submodule "iotanalytics-backend"]
	path = iotanalytics-backend
	url = git@github.com:emea-ssg-drd/iotanalytics-backend.git
[submodule "iotanalytics-gearpump-rule-engine"]
	path = iotanalytics-gearpump-rule-engine
	url = git@github.com:emea-ssg-drd/iotanalytics-gearpump-rule-engine.git
[submodule "iotanalytics-websocket-server"]
	path = iotanalytics-websocket-server
	url = git@github.com:emea-ssg-drd/iotanalytics-websocket-server.git
