<!-- templates/index.ejs -->

<!DOCTYPE html>
<html>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>Accounts and Devices Portal</h1>
		</div>
		<div>
			<h2>Existing Accounts</h2>
			<div class="well">
				<b>To list current accounts, access to: </b> <a href="<%= accountsLink %>">token content</a>
			</div>
            <h2>Devices</h2>
            <div class="well">
                <b>To list current devices make a REST call to: </b> <a href="<%= devicesLink %>">OISP</a>
            </div>
		</div>
        <div>
            <a href="<%= logoutLink %>"logout</a>
        </div>
	</div>
</body>
</html>
