apiVersion: v1
data:
  frontend: |
    {
    "postgresConfig": "@@OISP_POSTGRES_CONFIG",
    "redisConfig": "@@OISP_REDIS_CONFIG",
    "kafkaConfig": "@@OISP_KAFKA_CONFIG",
    "smtpConfig": "@@OISP_SMTP_CONFIG",
    "frontendSecurityConfig": "@@OISP_FRONTENDSECURITY_CONFIG",
    "backendHostConfig": "@@OISP_BACKENDHOST_CONFIG",
    "websocketUserConfig": "@@OISP_WEBSOCKETUSER_CONFIG",
    "mailConfig": "@@OISP_MAIL_CONFIG",
    "ruleEngineConfig": "@@OISP_RULEENGINE_CONFIG",
    "gatewayConfig": "@@OISP_GATEWAY_CONFIG",
    "jaegerTracing": {{ .Values.jaeger_tracing }},
    "grafanaConfig": "@@OISP_GRAFANA_CONFIG",
    "keycloakConfig": "@@OISP_KEYCLOAK_CONFIG"
    }
  websocket-server: |
    {
    "websocketUserConfig": "@@OISP_WEBSOCKETUSER_CONFIG",
    "kafkaConfig": "@@OISP_KAFKA_CONFIG",
    "redisConfig": "@@OISP_REDIS_CONFIG",
    "uri": ""
    }
  backend: |
    {
    "tsdbName": {{ .Values.backend.defaultTsdbBackend | quote }},
    "objectStoreName": {{ .Values.backend.objectStoreName | quote }},
    "kafkaConfig": "@@OISP_KAFKA_CONFIG",
    "tsdbProperties": "%%OISP_TSDB_PROPERTIES",
    "zookeeperConfig": "@@OISP_ZOOKEEPER_CONFIG",
    "jaegerConfig": "@@OISP_BACKEND_JAEGER_CONFIG",
    "objectStoreProperties": "%%OISP_OBJECT_STORE_MINIO_PROPERTIES"
    }
  backend-jaeger: |
    {
    "serviceName": "backend",
    "agentHost": "localhost",
    "agentPort": 6831,
    "logSpans": true,
    "samplerType": "probabilistic",
    "samplerParam": 0.1,
    "tracing": {{ .Values.jaeger_tracing }}
    }
  kafka: |
    {
    {{- $kafka := ternary .Values.kafkatest .Values.kafka .Values.less_resources -}}
    {{- with $kafka }}
    "uri": "{{ .service }}",
    "partitions": 1,
    "metricsPartitions": {{ .metricsPartitions }},
    "replication": {{ .replicationFactor}},
    "timeoutMs": 10000,
    "topicsObservations": "metrics",
    "topicsRuleEngine": "rules-update",
    "topicsHeartbeatName": "heartbeat",
    "topicsHeartbeatInterval": 5000,
    "maxPayloadSize": {{ .maxPayloadSize | int }},
    "retries": {{ .retries }},
    "requestTimeout": {{ .requestTimeout }},
    "maxRetryTime": {{ .maxRetryTime }}
    {{- end }}
    }
  zookeeper: |
    {
    "zkCluster": {{ .Values.zookeeper.servers | quote }}
    }
  kerberos: |
    {
    "kdc": "localhost",
    "kpassword": "pass",
    "krealm": "realm",
    "kuser": "user"
    }
  hbase: |
    {
    "hadoopProperties": "%%OISP_HADOOP_PROPERTIES"
    }
  hadoop: |
    {
    "hadoop.security.authentication": "simple",
    "hadoop.security.authorization": "false",
    "hbase.security.authentication": "simple",
    "ha.zookeeper.quorum": {{ .Values.zookeeper.servers | quote }},
    "hbase.zookeeper.property.clientPort": "2181",
    "hbase.zookeeper.quorum": {{ .Values.zookeeper.servers | quote }},
    "hbase.rootdir": "/hbase"
    }
  postgres: |
    {
    "dbname": "oisp",
    "hostname": "postgres-ro",
    "writeHostname": "postgres",
    "port": "5432",
    "su_username": "{{ .Values.stolon.pgSuperuserName }}",
    "su_password": "{{ .Values.stolon.pgSuperuserPassword }}",
    "username": "{{ .Values.postgres.username }}",
    "password": "{{ .Values.postgres.password }}"
    }
  redis: |
    {
    "hostname": "redis",
    "port": "6379",
    "password": ""
    }
  smtp: |
    {
    "host": "{{ .Values.smtp.host }}",
    "port": "{{ .Values.smtp.port }}",
    "protocol": "smtp",
    "username": "{{ .Values.smtp.username }}",
    "password": "{{ .Values.smtp.password }}"
    }
  frontend-security: |
    {
    "captcha_test_code": "s09ef48213s8fe8fw8rwer5489wr8wd5",
    "interaction_token_permision_key": "password",
    "private_pem_path": "./keys/private.pem",
    "public_pem_path": "./keys/public.pem"
    }
  keycloak: |
    {
    "listenerPort": "4004",
    "realm": "OISP",
    "auth-server-url": "http://keycloak-http:4080/keycloak",
    "resource": "oisp-frontend",
    "secret": "{{ .Values.keycloak.frontend.secret }}",
    "mqtt-broker-secret": "{{ .Values.keycloak.mqttBroker.secret }}",
    "mqtt-broker-id": "{{ .Values.keycloak.mqttBroker.id }}",
    "ssl-required": "external"
    }
  keycloak-admin: |
    {
    "username": "{{ .Values.keycloak.keycloak.username }}",
    "password": "{{ .Values.keycloak.keycloak.password }}"
    }
  keycloak-frontend-secret: {{ .Values.keycloak.frontend.secret }}
  keycloak-mqtt-broker-secret: {{ .Values.keycloak.mqttBroker.secret }}
  gateway: |
    {
    "username": "{{ .Values.systemuser.username }}",
    "password": "{{ .Values.systemuser.password }}"
    }
  backend-host: |
    {
    "deviceMeasurementTableName": "LOCAL-AA-BACKEND_DEVICE_MEASUREMENT",
    "host": "http://backend:8080"
    }
  mail: |
    {
    "sender": "test.sender@streammyiot.com"
    }
  # Gearpump username and password are legacy, they can be removed safely
  # after the rule-engine is updated to ignore them.
  rule-engine: |
    {
    "password": "{{ .Values.ruleEngine.password }}",
    "username": "{{ .Values.ruleEngine.username }}",
    "gearpumpUsername": "{{ .Values.ruleEngine.gearpump.username }}",
    "gearpumpPassword": "{{ .Values.ruleEngine.gearpump.password }}",
    "frontendUri": "frontend:4001",
    "kafkaConfig": "@@OISP_KAFKA_CONFIG",
    "zookeeperConfig": "@@OISP_ZOOKEEPER_CONFIG"
    }
  websocket-user: |
    {
    "password": "{{ .Values.websocketServer.password }}",
    "username": "{{ .Values.websocketServer.username }}"
    }
  opentsdb-config: |
    {
    "port": 4242
    }
  kairosdb-properties: |
    {
    "uri": {{ .Values.backend.tsdbUri | quote }},
    "port": {{ .Values.backend.tsdbPort | quote }},
    "cassandraHost": "cassandra-{{ .Values.cassandra.cluster}}-{{ .Release.Namespace }}-nodes.cassandra.svc.cluster.local",
    "cassandraPort": {{ .Values.cassandra.port | quote}},
    "cassandraReplication": {{ .Values.cassandra.replication | quote}}
    }
  minio: |
    {
    "endPoint": "minio",
    "port": "9000",
    "useSSL": "false",
    "accessKey": "{{ .Values.minio.accesskey }}",
    "secretKey": "{{ .Values.minio.secretkey }}"
    }
  grafana: |
    {
    "port": "3000",
    "adminUser": "{{ .Values.grafana.admin }}",
    "adminPassword": "{{ .Values.grafana.password }}",
    "dataSource": "kairosdb",
    "dataSourceHost": "kairosdb",
    "dataSourcePort": "8080"
    }
  mqtt-gateway: |
    {
    "mqttBrokerUrl": "localhost",
    "mqttBrokerPort": "8883",
    "mqttBrokerUsername": "{{ .Values.mqtt.broker.username }}",
    "mqttBrokerPassword": "{{ .Values.mqtt.broker.password }}",
    "frontendUri": "frontend",
    "frontendPort": "4001",
    "frontendSystemUser": "{{ .Values.systemuser.username }}",
    "frontendSystemPassword": "{{ .Values.systemuser.password }}",
    "redisConf": "@@OISP_REDIS_CONFIG",
    "kafkaConfig": "@@OISP_KAFKA_CONFIG",
    "postgresConfig": "@@OISP_POSTGRES_CONFIG",
    "aesKey": "/app/keys/mqtt/mqtt_gw_secret.key"
    }
  mqtt-broker: |
    {
    "redisConf": "@@OISP_REDIS_CONFIG",
    "jwtPubKey": "/app/keys/public.pem",
    "mqttBrokerUserName": "{{ .Values.mqtt.broker.username }}",
    "mqttBrokerPassword": "{{ .Values.mqtt.broker.password }}",
    "mqttBrokerPort": "8883",
    "aesKey": "/app/keys/mqtt/mqtt_gw_secret.key",
    "cafile": "{{ .Values.mqtt.certs.rootpath }}/{{ .Values.mqtt.certs.cafile }}",
    "keyfile": "{{ .Values.mqtt.certs.rootpath }}/{{ .Values.mqtt.certs.keyfile }}",
    "certfile": "{{ .Values.mqtt.certs.rootpath }}/{{ .Values.mqtt.certs.certfile }}"
    }

kind: ConfigMap
metadata:
  creationTimestamp: null
  name: oisp-config
  selfLink: /api/v1/namespaces/cloudfest-1/configmaps/oisp-config
