apiVersion: v1

kind: Service
metadata:
  labels:
    app: grafana
  name: grafana
spec:
  ports:
  - port: 3000
  selector:
    app: grafana
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: grafana
  name: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
      - name: grafana
        {{ if .Values.use_local_registry }}
        image: k3d-oisp.localhost:12345/oisp/grafana:{{ .Values.tag }}
        {{ else }}
        image: {{ .Values.imagePrefix }}/grafana:{{ .Values.tag }}
        {{ end }}
        ports:
        - containerPort: 3000
        env:
        - name: GF_SERVER_DOMAIN
          value: frontend
        - name: GF_SERVER_ROOT_URL
          value: "%(protocol)s://%(domain)s:%(http_port)s/ui/grafana"
        - name: GF_SERVER_HTTP_PORT
          value: "3000"
        - name: GF_SECURITY_ADMIN_USER
          value: {{ .Values.grafana.admin }}
        - name: GF_SECURITY_ADMIN_PASSWORD
          value: {{ .Values.grafana.password }}
        - name: DATASOURCE_URL
          value: http://frontend:4003
        resources:
          {{ if .Values.less_resources }}
          limits:
            cpu: 50m
          requests:
            cpu: 50m
          {{ else }}
          limits:
            cpu: 100m
          requests:
            cpu: 100m
          {{ end }}

      imagePullSecrets:
        - name: dockercred
