apiVersion: v1
kind: Service
metadata:
  labels:
    app: mqtt-gateway
  name: mqtt-gateway
spec:
  ports:
  - port: {{ .Values.mqtt.gateway.port }}
  selector:
    app: mqtt-gateway
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mqtt-gateway
  labels:
    app: mqtt-gateway
spec:
  serviceName: "mqtt-gateway"
  replicas: 1
  selector:
    matchLabels:
      app: mqtt-gateway
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: mqtt-gateway
    spec:
      containers:
      - name: mqtt-gateway
        {{ if .Values.use_local_registry }}
        image: k3d-oisp.localhost:12345/oisp/mqtt-gateway:{{ .Values.tag }}
        {{ else }}
        image: {{ .Values.imagePrefix }}/mqtt-gateway:{{ .Values.tag }}
        {{ end }}
        ports:
        - containerPort: {{ .Values.mqtt.gateway.port }}
        command: ["./wait-for-it.sh"]
        args:
        - redis:6379
        - -t
        - "300000"
        - -s
        - --
        - "./start-mqtt-kafka-bridge.sh"
        resources:
          {{ if .Values.less_resources }}
          requests:
            cpu: 50m
          {{ else }}
          limits:
            cpu: 1000m
          requests:
            cpu: 250m
          {{ end }}
        env:
        {{ if .Values.production }}
        - name: NODE_ENV
          value: production
        {{ else }}
        - name: NODE_ENV
          value: local
        {{ end }}
        - name: OISP_MQTT_GATEWAY_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: mqtt-gateway
        - name: OISP_REDIS_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: redis
        - name: OISP_KAFKA_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: kafka
        - name: OISP_KEYCLOAK_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: keycloak
        - name: OISP_POSTGRES_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: postgres
        volumeMounts:
        readinessProbe:
          httpGet:
            path: /v1/api/health
            port: {{ .Values.mqtt.gateway.port }}
      imagePullSecrets:
      - name: dockercred