apiVersion: v1
kind: Service
metadata:
  labels:
    app: streamer
  name: streamer
spec:
  ports:
  - port: 9000
  selector:
    app: streamer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: streamer
  name: streamer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: streamer
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: streamer
    spec:
      containers:
      - name: streamer
      {{ if .Values.use_local_registry }}
        image: k3d-oisp.localhost:12345/oisp/streamer:{{ .Values.tag }}
      {{ else }}
        image: {{ .Values.imagePrefix }}/streamer:{{ .Values.tag }}
      {{ end }}
        ports:
        - containerPort: 9000
        env:
        - name: OISP_KAFKA_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: kafka
        - name: OISP_KEYCLOAK_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: keycloak
        - name: OISP_STREAMER_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: streamer
      imagePullSecrets:
        - name: dockercred
