apiVersion: v1
kind: Service
metadata:
  labels:
    app: websocket-server
  name: websocket-server
spec:
  clusterIP: None
  ports:
  - port: 5000
  selector:
    app: websocket-server

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: websocket-server
  labels:
    app: websocket-server
spec:
  serviceName: "websocket-server"
  replicas: 1
  selector:
    matchLabels:
      app: websocket-server

  template:
    metadata:
      creationTimestamp: null
      labels:
        app: websocket-server
    spec:
      containers:
      - name: websocket-server
        {{ if .Values.use_local_registry }}
        image: k3d-oisp.localhost:12345/oisp/websocket-server:{{ .Values.tag }}
        {{ else }}
        image: {{ .Values.imagePrefix }}/websocket-server:{{ .Values.tag }}
        {{ end }}
        ports:
        - containerPort: 5000
          protocol: TCP
        args:
        - ./wait-for-it.sh
        - redis:6379
        - -t
        - "300000"
        - --
        - ./wait-for-it.sh
        - {{ .Values.kafka.service}}
        - "-t"
        - "300000"
        - "--"
        - ./wait-for-it.sh
        - keycloak-http:4080
        - -t
        - "300000"
        - --
        - ./scripts/docker-start.sh
        resources:
          {{ if .Values.less_resources }}
          requests:
            cpu: 50m
          {{ else }}
          limits:
            cpu: 500m
          requests:
            cpu: 500m
          {{ end }}
        env:
        - name: NODE_ENV
          value: local
        - name: OISP_WEBSOCKET_SERVER_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: websocket-server
        - name: OISP_REDIS_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: redis
        - name: OISP_KAFKA_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: kafka
        - name: OISP_WEBSOCKETUSER_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: websocket-user
        - name: OISP_KEYCLOAK_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: keycloak
        workingDir: /app
      imagePullSecrets:
      - name: dockercred
      volumes:
      - name: jwt-keys
        secret:
          defaultMode: 420
          items:
          - key: jwt.publickey
            path: public.pem
          - key: jwt.privatekey
            path: private.pem
          secretName: oisp-secrets
