apiVersion: batch/v1
kind: Job
metadata:
  name: dbupdate
  annotations:
    "helm.sh/hook-weight": "20"
    "helm.sh/hook-delete-policy": "before-hook-creation"
    "helm.sh/hook": post-install,pre-upgrade
spec:
  template:
    spec:
      containers:
      - name: dbupdate
        {{ if .Values.use_local_registry }}
        image: k3d-oisp.localhost:12345/oisp/frontend:{{ .Values.tag }}
        {{ else }}
        image: {{ .Values.imagePrefix }}/frontend:{{ .Values.tag }}
        {{ end }}
        env:
        - name: NODE_ENV
          value: local
        - name: OISP_FRONTEND_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: frontend
        - name: OISP_POSTGRES_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: postgres
        - name: OISP_REDIS_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: redis
        - name: OISP_KAFKA_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: kafka
        - name: OISP_SMTP_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: smtp
        - name: OISP_FRONTENDSECURITY_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: frontend-security
        - name: OISP_GATEWAY_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: gateway
        - name: OISP_BACKENDHOST_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: backend-host
        - name: OISP_WEBSOCKETUSER_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: websocket-user
        - name: OISP_RULEENGINE_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: rule-engine
        - name: OISP_MAIL_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: mail
        - name: OISP_KEYCLOAK_CONFIG
          valueFrom:
            configMapKeyRef:
              name: oisp-config
              key: keycloak
        command: ["./wait-for-it.sh", "postgres:5432", "-t", "300", "--", "./wait-for-it.sh", "frontend:4001", "-t", "300", "--", "node", "admin", "updateDB"]
      restartPolicy: Never
      imagePullSecrets:
        - name: dockercred
  backoffLimit: 10
